/*----------------------------------- ----------------------------------- -----------------------------------*\
  #styles.css
\*----------------------------------- ----------------------------------- -----------------------------------*/

/**
 * copyright 2022 codewithzak
 */


/*----------------------------------- ----------------------------------- -----------------------------------*\
  ## Googles Fonts Import
\*----------------------------------- ----------------------------------- -----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@400;500;600&display=swap');


/*----------------------------------- ----------------------------------- -----------------------------------*\
  ## Custom Properties
\*----------------------------------- ----------------------------------- -----------------------------------*/

:root {
  --green-1: #26643b;
  --green-2: #a2de96;
  --lightGreen-1: #d6e5d8;
  --lightGreen-2: #f5fcf4;
  --black-1: #3b413a;
  --black-2: #3f3c3c;
  --black-3: #5b6359;
  --white-1: #e8e8e8;

  --ff-poppins: 'Poppins', sans-serif;
  --ff-Raleway: 'Raleway', sans-serif;
}

/*----------------------------------- ----------------------------------- -----------------------------------*\
  ## RESET
\*----------------------------------- ----------------------------------- -----------------------------------*/

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  background-color: var(--lightGreen-2);
  width: 100%;
  overflow-x: clip;
}

section {
  padding: 100px 0;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin-inline: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-poppins);
}

p {
  font-family: var(--ff-Raleway);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  display: inline-block;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }
::-webkit-scrollbar-thumb {	background-color: hsl(0, 0%, 80%); }
::-webkit-scrollbar-thumb:hover {	background-color: hsl(0, 0%, 70%); }

/*----------------------------------- ----------------------------------- -----------------------------------*\
  ## REUSED STYLE
\*----------------------------------- ----------------------------------- -----------------------------------*/





















/*----------------------------------- ----------------------------------- -----------------------------------*\
  ## Responsive
\*----------------------------------- ----------------------------------- -----------------------------------*/

/*----------------------------------- ----------------------------------- -----------------------------------*\
  ## less than 768px
\*----------------------------------- ----------------------------------- -----------------------------------*/

@media only screen and (max-width: 768px) {
  /*-----------------------------------*\
  ## RESET
  \*-----------------------------------*/

  section {
    padding: 50px 0;
  }
}